nav{
  position: absolute;
  background-color:
  height: 100px;
  width: 100%;
}
nav ul li{
  display: inline-block;
  float: right;
  color: blue;
  font-size: 1em;
  font-weight:normal;
  text-align: center;
  padding-right: 90px;
  margin-top: 28px;
}
a1 {
  position: absolute;
  display: inline-block;
  float: left;
  margin-top: 25px;
  padding-left: 250px;
  color: blue;
  font-family: cursive;
  font-weight: bold;
  font-size: 2em;
}

h1{
  position: absolute;
  display: inline-block;
  top: 200px;
  left: 240px;

}
span{
  color: blue;
  font-size: 1em;
}

.box img{
  position: absolute;
 width: 80%;
  height: 200px;
 top: 300px;
 left: 120px;
}

h2{
  position: absolute;
  top: 550px;
  left: 400px;
  color: blue;
  font-style: italic;
}

h3{
 position: absolute;
  right: 400px;
  top: 550px;
  color: blue;
  font-style: italic;
}

/* paragraph css */
p{
  position: absolute;
  top: 620px;
  left: 230px;
  text-align: center;
}
